Repository madsmtm/objc2, pull requests merged in 2023-01, with the labels that each got.

#318 Allow empty structs in `declare_class!`
  crates/objc2/CHANGELOG.md
  crates/objc2/src/declare.rs
  crates/objc2/src/declare/declare_class_tests.rs
  crates/objc2/src/macros.rs
  crates/objc2/src/macros/declare_class.rs
  crates/objc2/src/macros/extern_methods.rs
  crates/objc2/src/rc/test_object.rs
  crates/objc2/tests/no_prelude.rs
  crates/objc2/tests/use_macros.rs
  crates/test-ui/ui/declare_class_classtype_imported.rs
  crates/test-ui/ui/invalid_msg_send.stderr
  crates/test-ui/ui/nsarray_bound_not_send_sync.stderr
  crates/test-ui/ui/object_not_send_sync.stderr
  crates/test-ui/ui/wrong_optional.rs
  crates/test-ui/ui/wrong_optional.stderr
Labels: bug, A-objc2

#322 Redo CI
  .github/workflows/ci.yml
  .gitignore
  CONTRIBUTING.md
  Cargo.lock
  crates/header-translator/src/cache.rs
  crates/header-translator/src/main.rs
  crates/header-translator/src/rust_type.rs
  crates/header-translator/src/stmt.rs
  crates/header-translator/src/unexposed_macro.rs
  crates/icrate/src/AppKit/fixes/mod.rs
  crates/objc2/examples/introspection.rs
  crates/objc2/src/exception.rs
  crates/test-assembly/src/lib.rs
  crates/tests/src/exception.rs
  fuzz/Cargo.lock
  helper-scripts/run-assembly-tests.sh
Labels: bug

#323 Fix `objc2` docs.rs build and a few typos
  .github/workflows/ci.yml
  CONTRIBUTING.md
  crates/objc2/Cargo.toml
Labels: bug, A-objc2

#324 Make our current MSRV match `winit`'s
  .github/workflows/ci.yml
  README.md
  crates/block-sys/Cargo.toml
  crates/block2/Cargo.toml
  crates/icrate/Cargo.toml
  crates/icrate/src/Foundation/additions/value.rs
  crates/icrate/src/Foundation/fixes/NSDecimal.rs
  crates/icrate/src/common.rs
  crates/objc-sys/Cargo.toml
  crates/objc2-encode/Cargo.toml
  crates/objc2-proc-macros/Cargo.toml
  crates/objc2/Cargo.toml
Labels: bug

#349 Remove the optional `uuid` integration from `icrate`
  .github/workflows/ci.yml
  Cargo.lock
  crates/icrate/CHANGELOG.md
  crates/icrate/Cargo.toml
  crates/icrate/src/Foundation/additions/uuid.rs
  crates/icrate/src/Foundation/mod.rs
  crates/icrate/tests/uuid.rs
Labels: A-icrate

#350 cfg-gate `ns_string!` static functionality
  .github/workflows/ci.yml
  crates/icrate/Cargo.toml
  crates/icrate/src/Foundation/__macro_helpers/cached.rs
  crates/icrate/src/Foundation/__macro_helpers/mod.rs
  crates/icrate/src/Foundation/__macro_helpers/ns_string.rs
  crates/icrate/src/Foundation/__ns_string.rs
  crates/icrate/src/Foundation/macros/mod.rs
  crates/icrate/src/Foundation/macros/ns_string.rs
  crates/icrate/src/Foundation/mod.rs
  crates/icrate/tests/string.rs
  crates/test-assembly/crates/test_ns_string/Cargo.toml
  crates/test-assembly/crates/test_ns_string/expected/gnustep-x86.s
  crates/test-assembly/crates/test_ns_string/expected/gnustep-x86_64.s
  crates/test-ui/ui/invalid_ns_string_input.stderr
  crates/test-ui/ui/ns_string_not_const.stderr
  crates/test-ui/ui/ns_string_output_not_const.stderr
Labels: A-icrate, I-unsound

#344 Add `MainThreadBound`
  Cargo.lock
  crates/icrate/Cargo.toml
  crates/icrate/src/Foundation/additions/mod.rs
  crates/icrate/src/Foundation/additions/thread.rs
  crates/icrate/tests/thread.rs
Labels: enhancement, A-icrate

#361 Fix errors in test-assembly
  crates/test-assembly/crates/test_ns_string/lib.rs
Labels: bug

#403 Update documentation
  CONTRIBUTING.md
  LAYERED_SAFETY.md
  README.md
  crates/block2/README.md
  crates/header-translator/src/data/README.md
  crates/icrate/CHANGELOG.md
  crates/icrate/README.md
  crates/icrate/src/Foundation/additions/enumerator.rs
  crates/icrate/src/lib.rs
  crates/objc-sys/README.md
  crates/objc2/Cargo.toml
  crates/objc2/README.md
  crates/objc2/src/lib.rs
  crates/objc2/src/macros.rs
Labels: documentation, A-objc2, A-icrate

#409 Redo how instance variables work
  crates/icrate/CHANGELOG.md
  crates/icrate/examples/delegate.rs
  crates/icrate/src/Foundation/fixes/NSProxy.rs
  crates/objc2/CHANGELOG.md
  crates/objc2/examples/class_with_lifetime.rs
  crates/objc2/src/__macro_helpers.rs
  crates/objc2/src/declare.rs
  crates/objc2/src/declare/declare_class_tests.rs
  crates/objc2/src/declare/ivar.rs
  crates/objc2/src/declare/ivar_bool.rs
  crates/objc2/src/declare/ivar_drop.rs
  crates/objc2/src/declare/ivar_encode.rs
  crates/objc2/src/declare/ivar_forwarding_impls.rs
  crates/objc2/src/macros.rs
  crates/objc2/src/macros/__field_helpers.rs
  crates/objc2/src/macros/declare_class.rs
  crates/objc2/src/macros/extern_class.rs
  crates/objc2/src/macros/extern_methods.rs
  crates/objc2/src/protocol.rs
  crates/objc2/src/rc/test_object.rs
  crates/objc2/src/runtime/nsobject.rs
  crates/objc2/tests/declare_class_self.rs
  crates/objc2/tests/no_prelude.rs
  crates/objc2/tests/use_macros.rs
  crates/test-ui/ui/declare_class_classtype_imported.rs
  crates/test-ui/ui/declare_class_invalid_receiver.rs
  crates/test-ui/ui/declare_class_invalid_syntax.rs
  crates/test-ui/ui/declare_class_invalid_syntax.stderr
  crates/test-ui/ui/declare_class_invalid_type.rs
  crates/test-ui/ui/declare_class_invalid_type2.rs
  crates/test-ui/ui/protocol.rs
  crates/test-ui/ui/wrong_optional.rs
Labels: enhancement, A-objc2, I-unsound

#360 Add webkit example
  crates/icrate/Cargo.toml
  crates/icrate/examples/README.md
  crates/icrate/examples/browser.rs
  crates/icrate/src/WebKit/fixes.rs
Labels: documentation, A-icrate

#412 Refactor `objc2_encode`
  Cargo.lock
  crates/block2/Cargo.toml
  crates/block2/src/block.rs
  crates/block2/src/concrete_block.rs
  crates/block2/src/global.rs
  crates/icrate/Cargo.toml
  crates/objc2-encode/CHANGELOG.md
  crates/objc2-encode/Cargo.toml
  crates/objc2-encode/README.md
  crates/objc2-encode/src/encoding.rs
  crates/objc2-encode/src/encoding_box.rs
  crates/objc2-encode/src/helper.rs
  crates/objc2-encode/src/lib.rs
  crates/objc2-encode/src/parse.rs
  crates/objc2-encode/src/static_str.rs
  crates/objc2/CHANGELOG.md
  crates/objc2/Cargo.toml
  crates/objc2/examples/encode_core_graphics.rs
  crates/objc2/examples/encode_ns_string.rs
  crates/objc2/examples/encode_ns_uinteger.rs
  crates/objc2/examples/encode_opaque_type.rs
  crates/objc2/src/encode.rs
  crates/objc2/src/lib.rs
  crates/objc2/src/runtime.rs
  crates/objc2/src/runtime/bool.rs
  crates/test-ui/ui/declare_class_invalid_type.stderr
  crates/test-ui/ui/global_block_not_encode.stderr
  crates/test-ui/ui/msg_send_underspecified_error.stderr
  crates/tests/extern/encode_utils.m
  crates/tests/src/test_encode_utils.rs
  fuzz/Cargo.lock
Labels: enhancement, A-objc2

#410 Add `#[track_caller]` test
  crates/objc2/src/__macro_helpers.rs
  crates/objc2/src/declare.rs
  crates/objc2/src/macros/declare_class.rs
  crates/objc2/tests/track_caller.rs
Labels: A-objc2
