Repository madsmtm/objc2, pull requests merged in 2023-09, with the labels that each got.

#490 More refactoring for examples
  crates/icrate/Cargo.toml
  crates/icrate/examples/browser.rs
  crates/icrate/examples/metal.rs
Labels: documentation, A-icrate

#491 Change a few things in our main thread utilities
  crates/icrate/CHANGELOG.md
  crates/icrate/src/Foundation/additions/thread.rs
  crates/objc2/CHANGELOG.md
  crates/objc2/src/mutability.rs
Labels: enhancement, A-objc2, A-icrate

#492 Improve documentation
  crates/icrate/Cargo.toml
  crates/icrate/README.md
  crates/icrate/examples/browser.rs
  crates/icrate/examples/delegate.rs
  crates/icrate/src/AppKit/mod.rs
  crates/icrate/src/Foundation/mod.rs
  crates/icrate/src/Metal/mod.rs
  crates/icrate/src/WebKit/mod.rs
  crates/icrate/src/lib.rs
  crates/objc2/src/mutability.rs
Labels: documentation, A-objc2, A-icrate

#495 Catch `trybuild` errors during monomorphization as well
  crates/test-ui/src/hack.rs
  crates/test-ui/src/main.rs
  crates/test-ui/ui/invalid_option_encode_impl.rs
  crates/test-ui/ui/invalid_option_encode_impl.stderr
  crates/test-ui/ui/invalid_option_encode_impl_ref.rs
  crates/test-ui/ui/invalid_option_encode_impl_ref.stderr
Labels: A-objc2

#497 Add `EncodeReturn`, `EncodeArgument` and `EncodeArguments`
  crates/block2/src/block.rs
  crates/block2/src/concrete_block.rs
  crates/block2/src/global.rs
  crates/objc2/CHANGELOG.md
  crates/objc2/src/__macro_helpers/convert.rs
  crates/objc2/src/__macro_helpers/mod.rs
  crates/objc2/src/__macro_helpers/writeback.rs
  crates/objc2/src/declare/mod.rs
  crates/objc2/src/encode.rs
  crates/objc2/src/encode/__unstable.rs
  crates/objc2/src/macros/declare_class.rs
  crates/objc2/src/message/apple/arm.rs
  crates/objc2/src/message/apple/arm64.rs
  crates/objc2/src/message/apple/mod.rs
  crates/objc2/src/message/apple/x86.rs
  crates/objc2/src/message/apple/x86_64.rs
  crates/objc2/src/message/gnustep.rs
  crates/objc2/src/message/mod.rs
  crates/objc2/src/rc/mod.rs
  crates/objc2/src/runtime/bool.rs
  crates/objc2/src/runtime/mod.rs
  crates/test-ui/ui/add_method_no_bool.stderr
  crates/test-ui/ui/declare_class_invalid_type.stderr
  crates/test-ui/ui/extern_methods_invalid_type.stderr
  crates/test-ui/ui/global_block_not_encode.stderr
  crates/test-ui/ui/invalid_option_encode_impl.stderr
  crates/test-ui/ui/invalid_option_encode_impl_ref.stderr
  crates/test-ui/ui/msg_send_not_encode.stderr
  crates/test-ui/ui/not_encode.stderr
  crates/test-ui/ui/not_writeback.stderr
Labels: enhancement, A-objc2

#498 Refactor browser and metal examples to use OnceCell
  crates/icrate/examples/browser.rs
  crates/icrate/examples/metal.rs
Labels: documentation, enhancement, A-icrate

#200 Deprecate using `msg_send!` without comma between arguments
  crates/objc2/CHANGELOG.md
  crates/objc2/Cargo.toml
  crates/objc2/src/macros/__msg_send_parse.rs
  crates/objc2/src/macros/mod.rs
  crates/objc2/tests/use_macros.rs
  crates/test-ui/Cargo.toml
  crates/test-ui/src/main.rs
  crates/test-ui/ui/msg_send_missing_comma.rs
  crates/test-ui/ui/msg_send_missing_comma.stderr
Labels: bug, A-objc2

#503 Small fixes
  crates/block-sys/src/lib.rs
  crates/header-translator/README.md
  crates/icrate/CHANGELOG.md
  crates/objc-sys/src/object.rs
  crates/objc2/src/declare/mod.rs
  crates/objc2/src/encode.rs
  crates/objc2/src/mutability.rs
  crates/objc2/src/rc/autorelease.rs
  crates/objc2/src/rc/weak_id.rs
  crates/objc2/src/runtime/mod.rs
  crates/objc2/src/runtime/nscopying.rs
  crates/test-ui/ui/invalid_option_encode_impl.stderr
  crates/test-ui/ui/invalid_option_encode_impl_ref.stderr
Labels: enhancement, A-objc2

#504 Add more tests
  crates/icrate/tests/mutable_dictionary.rs
  crates/icrate/tests/mutable_set.rs
  crates/objc2/src/declare/mod.rs
  crates/objc2/src/exception.rs
  crates/objc2/src/runtime/nsobject.rs
Labels: enhancement, A-objc2

#512 Refactor macro internals
  crates/icrate/src/additions/Foundation/macros/ns_string.rs
  crates/icrate/src/macros.rs
  crates/objc2/src/declare/mod.rs
  crates/objc2/src/macros/__attribute_helpers.rs
  crates/objc2/src/macros/__method_msg_send.rs
  crates/objc2/src/macros/__msg_send_parse.rs
  crates/objc2/src/macros/__rewrite_self_param.rs
  crates/objc2/src/macros/declare_class.rs
  crates/objc2/src/macros/extern_class.rs
  crates/objc2/src/macros/extern_methods.rs
  crates/objc2/src/macros/extern_protocol.rs
  crates/objc2/src/macros/mod.rs
  crates/test-assembly/crates/test_declare_class/expected/apple-aarch64.s
  crates/test-assembly/crates/test_declare_class/expected/apple-armv7.s
  crates/test-assembly/crates/test_declare_class/expected/apple-armv7s.s
  crates/test-assembly/crates/test_declare_class/expected/apple-old-x86.s
  crates/test-assembly/crates/test_declare_class/expected/apple-x86.s
  crates/test-assembly/crates/test_declare_class/expected/apple-x86_64.s
  crates/test-assembly/crates/test_extern_protocol/expected/apple-aarch64.s
  crates/test-assembly/crates/test_extern_protocol/expected/apple-armv7.s
  crates/test-assembly/crates/test_extern_protocol/expected/apple-armv7s.s
  crates/test-assembly/crates/test_extern_protocol/expected/apple-old-x86.s
  crates/test-assembly/crates/test_extern_protocol/expected/apple-x86.s
  crates/test-assembly/crates/test_extern_protocol/expected/apple-x86_64.s
  crates/test-assembly/crates/test_msg_send_static_sel/expected/apple-aarch64.s
  crates/test-assembly/crates/test_msg_send_static_sel/expected/apple-armv7.s
  crates/test-assembly/crates/test_msg_send_static_sel/expected/apple-armv7s.s
  crates/test-assembly/crates/test_msg_send_static_sel/expected/apple-old-x86.s
  crates/test-assembly/crates/test_msg_send_static_sel/expected/apple-x86.s
  crates/test-assembly/crates/test_msg_send_static_sel/expected/apple-x86_64.s
  crates/test-assembly/crates/test_ns_string/lib.rs
  crates/test-assembly/crates/test_static_class/expected/apple-aarch64.s
  crates/test-assembly/crates/test_static_class/expected/apple-armv7.s
  crates/test-assembly/crates/test_static_class/expected/apple-armv7s.s
  crates/test-assembly/crates/test_static_class/expected/apple-old-x86.s
  crates/test-assembly/crates/test_static_class/expected/apple-x86.s
  crates/test-assembly/crates/test_static_class/expected/apple-x86_64.s
  crates/test-assembly/crates/test_static_sel/expected/apple-aarch64.s
  crates/test-assembly/crates/test_static_sel/expected/apple-armv7.s
  crates/test-assembly/crates/test_static_sel/expected/apple-armv7s.s
  crates/test-assembly/crates/test_static_sel/expected/apple-old-x86.s
  crates/test-assembly/crates/test_static_sel/expected/apple-x86.s
  crates/test-assembly/crates/test_static_sel/expected/apple-x86_64.s
  crates/test-ui/ui/declare_class_invalid_receiver.stderr
  crates/test-ui/ui/declare_class_invalid_syntax.stderr
  crates/test-ui/ui/declare_class_invalid_type.stderr
  crates/test-ui/ui/declare_class_invalid_type2.stderr
  crates/test-ui/ui/extern_methods_invalid_type.stderr
  crates/test-ui/ui/invalid_msg_send.stderr
  crates/test-ui/ui/msg_send_missing_comma.stderr
  crates/test-ui/ui/ns_string_output_not_const.stderr
  crates/test-ui/ui/wrong_optional.stderr
Labels: enhancement, A-objc2
