Repository madsmtm/objc2, pull requests merged in 2023-07, with the labels that each got.

#473 Update proc-macro dep so it compiles on nightly again
  Cargo.lock
  crates/header-translator/Cargo.toml
Labels: bug

#462 New Objective-C runtime features
  crates/objc2/Cargo.toml
  crates/objc2/src/rc/allocated.rs
  crates/objc2/src/rc/id.rs
  crates/objc2/src/runtime/mod.rs
  crates/objc2/src/runtime/retain_release_fast.rs
Labels: enhancement, A-objc2

#416 Allow using `MainThreadMarker` in `extern_methods!`
  crates/objc2/CHANGELOG.md
  crates/objc2/src/macros/__method_msg_send.rs
  crates/objc2/src/macros/extern_methods.rs
  crates/objc2/tests/macros_mainthreadmarker.rs
  crates/test-ui/ui/extern_methods_invalid_type.rs
  crates/test-ui/ui/extern_methods_invalid_type.stderr
  crates/test-ui/ui/extern_methods_wrong_arguments_error.rs
  crates/test-ui/ui/extern_methods_wrong_arguments_error.stderr
Labels: enhancement, A-objc2

#477 Improve `declare_class!` tests
  .github/workflows/ci.yml
  crates/objc2/src/__macro_helpers/declare_class.rs
  crates/objc2/src/declare/mod.rs
  crates/objc2/src/encode/__unstable.rs
  crates/objc2/src/message/mod.rs
  crates/objc2/src/rc/id.rs
  crates/objc2/src/rc/mod.rs
  crates/objc2/tests/declare_class_self.rs
  crates/objc2/tests/no_prelude.rs
  crates/objc2/tests/use_macros.rs
  crates/test-assembly/crates/test_declare_class/expected/apple-aarch64.s
  crates/test-assembly/crates/test_declare_class/expected/apple-armv7.s
  crates/test-assembly/crates/test_declare_class/expected/apple-armv7s.s
  crates/test-assembly/crates/test_declare_class/expected/apple-old-x86.s
  crates/test-assembly/crates/test_declare_class/expected/apple-x86.s
  crates/test-assembly/src/lib.rs
  crates/test-ui/ui/declare_class_invalid_receiver.rs
  crates/test-ui/ui/declare_class_invalid_receiver.stderr
  crates/test-ui/ui/declare_class_invalid_syntax.rs
  crates/test-ui/ui/declare_class_invalid_syntax.stderr
Labels: enhancement, A-objc2

#478 Allow `c_void` pointers as return and argument types in more cases (behind a feature flag)
  crates/objc2/CHANGELOG.md
  crates/objc2/Cargo.toml
  crates/objc2/src/verify.rs
Labels: enhancement, A-objc2

#476 New versions
  CONTRIBUTING.md
  Cargo.lock
  crates/block2/CHANGELOG.md
  crates/block2/Cargo.toml
  crates/block2/src/lib.rs
  crates/icrate/CHANGELOG.md
  crates/icrate/Cargo.toml
  crates/icrate/src/lib.rs
  crates/objc2-encode/CHANGELOG.md
  crates/objc2-encode/Cargo.toml
  crates/objc2-encode/src/lib.rs
  crates/objc2/CHANGELOG.md
  crates/objc2/Cargo.toml
  crates/objc2/src/lib.rs
  crates/objc2/src/rc/test_object.rs
Labels: bug, A-objc2, A-icrate, A-block2
